/.idea/.name
/.idea/php.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_11_02_2024_3_45_pm_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_11_02_2024_3_45_pm__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_11_02_2024_3_45_pm__Changes_1.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_1.xml
